%intertitre-icon {
    @extend %avenir-bold;
    align-self: left;
    color: $sidebar-link-hover;
    flex: 0 0 90%;
    font-size: em(16);
    margin-top: em(26);
    padding: em(6) em(16);

    span {
        padding-right: em(13);
    }
}
