@mixin button($color1: $accent-light, $color2: $accent, $shape: round) {
    @extend %avenir-demibold;
    background: linear-gradient($color1, $color2);
    border: 0;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: em(12);
    height: auto;
    margin: 0;
    padding: em(20) em(43);
    text-align: center;
    white-space: 0;
    width: fit-content;

    @if $shape == 'round' {
        border-radius: 50em;
    } @else {
        border-radius: em(4);
}

    &:focus {
        outline: none;
    }

    &:hover {
        background: linear-gradient($color2, $color1);
    }

    &:disabled {
        background-color: $disabled;
        color: darken($disabled, 15%);
    }
}
