%menu-mobile {
    background-color: $black;
    border-radius: em(8);
    color: $white;
    left: -9999px;
    max-width: 320px;
    padding: em(5) em(5) em(15);
    position: absolute;
    top: 75px;

    &.open {
        left: 12px;
        top: 75px;
        transition: left .6s ease-out;
    }


    &::before {
        border-bottom: em(10) solid $black;
        border-left: em(10) solid transparent;
        border-right: em(10) solid transparent;
        border-top: 0 solid transparent;
        content: '\A';
        left: em(8);
        position: absolute;
        top: em(-8);
    }

    .col {

        .title-menu {
            @extend %avenir-bold;
            color: $white;
            font-size: em(15);
            padding-top: em(20);

            .icon {
                padding-right: em(8);

            }
        }

        .list-menu {
            list-style: none;

            li {
                margin-left: em(25);
                margin-top: em(8);

                a {
                    @extend %avenir;
                    color: $white;
                    cursor: pointer;
                    font-size: em(12);
                    text-decoration: none;


                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
