.desktop-only {
    display: none;

    @include media($tablet-land) {
        display: block;
    }
}

.tablet-and-up {
    display: none;

    @include media($tablet-portrait) {
        display: block;
    }
}

.mobile-only {
    display: block;

    @include media($tablet-portrait) {
        display: none;
    }
}
